{{- if and (eq .Values.global.secretStore.backend "kubernetes") (eq (include "golang_eso.ishubcluster" .) "true") }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: {{ .Values.golangExternalSecrets.kubernetes.remoteNamespace }}
  name: golang-external-secrets
rules:
- apiGroups: [""]
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authorization.k8s.io
  resources:
  - selfsubjectrulesreviews
  verbs:
  - create
{{- end }}
